<h1>Lista de Carritos</h1>
<ul id="cart-list">
  <li>
    <h2>Carrito ID: {{cart._id}}</h2> 
    <h3>Productos:</h3>
    <ul>
      {{#each cart.products}} 
        <li>
          <p>Producto ID: {{this.product._id}}</p> 
          <p>Producto: {{this.product.nombre}}</p>
          <p>Precio: {{this.product.precio}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </li>
      {{/each}}
    </ul>
    <hr>
  </li>
</ul>