 {{!-- <div>
<h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
      <li>
        <h2>Nombre: {{this.name}}</h2> <br>
        <h2>Descripción: {{this.description}}</h2> <br>
        <h2>Código: {{this.code}}</h2> <br>
        <h2>Precio: {{this.price}}</h2> <br>
        <h2>Stock: {{this.stock}}</h2> <br>
        <h2>Categoría: {{this.category}}</h2> <br>
        <img src="{{this.thumbnail}}" alt="Imagen de {{this.name}}" style="width:100px;">
      </li>
      <hr>
    {{/each}}
  </ul></div> --}}