  <h1>Detalles del Producto</h1>
    <div>
        <h2>Nombre: {{product.nombre}}</h2>
        <p>Precio: ${{product.precio}}</p>
        <p>Stock: {{product.stock}}</p>
        <p>Código: {{product.codigo}}</p>
        <p>Categoría: {{product.categoria}}</p> 
        {{!-- <img src="{{product.thumbnail}}" alt="Imagen de {{product.nombre}}" style="width:200px;"> --}}
    </div>
      <form action="/products/{{product._id}}?method=DELETE" method="POST"  enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Eliminar</button></form>
    <a class="btn btn-primary" href="/products">Volver a la lista de productos</a>